<!DOCTYPE html>
<html lang="en">
  <head>

    <title>MikroTik DB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Ramon Rivera Llavona">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <style>

      h1 {
        color: black;
        font-family: verdana;
        font-size: 300%;
        text-align: center;
        }

      footer {
        color: black;
        font-family: arial;
        font-size: 120%;
        text-align: center;
        }

      form {
        text-align: center;
       }

      input {
        text-align: center;
       }


  </style>

  <body>

            <h1>Show MikroTiks Scanned</h1>
                <form action="{{ url_for('get_data') }}" method="POST">
                  <input type="submit" name="scan" value="Scan for Mikrotik DB">
                </form>


    <br>

      <script>
              function goBack() {
              window.history.back();
              }
      </script>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <footer>By Ramon Rivera Llavona - NEO Data</footer>

  </body>

</html>