<!DOCTYPE html>
<html lang="en">
  <head>

    <title>MikroTik DB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Ramon Rivera Llavona">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <style>

   h1 {
     color: black;
     font-family: verdana;
     font-size: 300%;
     text-align: center;
       }

   p {
     color: black;
     font-family: verdana;
     font-size: 100%;
       }

   body {
     text-align: center;
   }


  </style>


<body>
    <h1>Mikrotik Scanned</h1>
    <pre>

    {{ mikrotik_list }}

    </pre>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <button onclick="goBack()">Back To Home</button>

      <script>
              function goBack() {
                 window.history.back();
                                 }
      </script>

    <p>NOTE: Due to problems with some routerboards, there is no the complete inventory of Routerboards in the NetworkS</p>

     <footer>By Ramon Rivera Llavona - NEO Data</footer>
</body>
</html>