<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Enter your Radius login for Juniper Devices</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Radius Username" name="user">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value=""  placeholder="Radius Password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" name="login" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
	<footer>By Ramon Rivera - NEO Data</footer>
</form>

