<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Juniper Invetory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Ramon Rivera Llavona & Damian Ruiz">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('block_form', filename='ico/favicon.ico') }}">


  </head>

  <style>

      h1 {
        color: black;
        font-family: arial;
        font-size: 300%;
        text-align: center;
        }

      h2 {
        color: black;
        font-family: arial;
        font-size: 300%;
        text-align: center;
        }

      footer {
        color: black;
        font-family: arial;
        font-size: 120%;
        text-align: center;
        }

      form {
        text-align: center;
       }


  </style>

  <body>

            <h1>Show Juniper Inventory:</h1>
                <form action="{{ url_for('juniper_inventory') }}" method="POST">
                  <input type="submit" name="show" value="Show Inventory">
                </form>

            <h2>Download Inventory:</h2>
                <form action="{{ url_for('download') }}" method="POST">
                  <input type="submit" name="download" value="Download CSV">
                </form>



    <br>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <footer>NEO Data tools</footer>

  </body>

</html>